@font-face {
    font-family: 'Gotham';
    src: url('Gotham-MediumItalic.eot');
    src: url('Gotham-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Gotham-MediumItalic.woff') format('woff'),
        url('Gotham-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Bold';
    src: url('Gotham-Bold.eot');
    src: url('Gotham-Bold.eot?#iefix') format('embedded-opentype'),
        url('Gotham-Bold.woff') format('woff'),
        url('Gotham-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Medium.eot');
    src: url('Gotham-Medium.eot?#iefix') format('embedded-opentype'),
        url('Gotham-Medium.woff') format('woff'),
        url('Gotham-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-BoldItalic.eot');
    src: url('Gotham-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Gotham-BoldItalic.woff') format('woff'),
        url('Gotham-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-LightItalic.eot');
    src: url('Gotham-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Gotham-LightItalic.woff') format('woff'),
        url('Gotham-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-BookItalic.eot');
    src: url('Gotham-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('Gotham-BookItalic.woff') format('woff'),
        url('Gotham-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Medium_1.eot');
    src: url('Gotham-Medium_1.eot?#iefix') format('embedded-opentype'),
        url('Gotham-Medium_1.woff') format('woff'),
        url('Gotham-Medium_1.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Book.eot');
    src: url('Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url('Gotham-Book.woff') format('woff'),
        url('Gotham-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Light.eot');
    src: url('Gotham-Light.eot?#iefix') format('embedded-opentype'),
        url('Gotham-Light.woff') format('woff'),
        url('Gotham-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Medium_2.eot');
    src: url('Gotham-Medium_2.eot?#iefix') format('embedded-opentype'),
        url('Gotham-Medium_2.woff') format('woff'),
        url('Gotham-Medium_2.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('Gotham-Book_1.eot');
    src: url('Gotham-Book_1.eot?#iefix') format('embedded-opentype'),
        url('Gotham-Book_1.woff') format('woff'),
        url('Gotham-Book_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Bold_1.eot');
    src: url('Gotham-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('Gotham-Bold_1.woff') format('woff'),
        url('Gotham-Bold_1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Black';
    src: url('Gotham-Black.eot');
    src: url('Gotham-Black.eot?#iefix') format('embedded-opentype'),
        url('Gotham-Black.woff') format('woff'),
        url('Gotham-Black.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-UltraItalic.eot');
    src: url('Gotham-UltraItalic.eot?#iefix') format('embedded-opentype'),
        url('Gotham-UltraItalic.woff') format('woff'),
        url('Gotham-UltraItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Narrow Ultra';
    src: url('GothamNarrow-Ultra.eot');
    src: url('GothamNarrow-Ultra.eot?#iefix') format('embedded-opentype'),
        url('GothamNarrow-Ultra.woff') format('woff'),
        url('GothamNarrow-Ultra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-XLight.eot');
    src: url('Gotham-XLight.eot?#iefix') format('embedded-opentype'),
        url('Gotham-XLight.woff') format('woff'),
        url('Gotham-XLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-BookItalic_1.eot');
    src: url('Gotham-BookItalic_1.eot?#iefix') format('embedded-opentype'),
        url('Gotham-BookItalic_1.woff') format('woff'),
        url('Gotham-BookItalic_1.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('GothamNarrow-Black.eot');
    src: url('GothamNarrow-Black.eot?#iefix') format('embedded-opentype'),
        url('GothamNarrow-Black.woff') format('woff'),
        url('GothamNarrow-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-ThinItalic.eot');
    src: url('Gotham-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('Gotham-ThinItalic.woff') format('woff'),
        url('Gotham-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Ultra';
    src: url('Gotham-Ultra.eot');
    src: url('Gotham-Ultra.eot?#iefix') format('embedded-opentype'),
        url('Gotham-Ultra.woff') format('woff'),
        url('Gotham-Ultra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Thin.eot');
    src: url('Gotham-Thin.eot?#iefix') format('embedded-opentype'),
        url('Gotham-Thin.woff') format('woff'),
        url('Gotham-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow Book';
    src: url('GothamNarrow-Book.eot');
    src: url('GothamNarrow-Book.eot?#iefix') format('embedded-opentype'),
        url('GothamNarrow-Book.woff') format('woff'),
        url('GothamNarrow-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Light_1.eot');
    src: url('Gotham-Light_1.eot?#iefix') format('embedded-opentype'),
        url('Gotham-Light_1.woff') format('woff'),
        url('Gotham-Light_1.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-XLightItalic.eot');
    src: url('Gotham-XLightItalic.eot?#iefix') format('embedded-opentype'),
        url('Gotham-XLightItalic.woff') format('woff'),
        url('Gotham-XLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('GothamNarrow-Thin.eot');
    src: url('GothamNarrow-Thin.eot?#iefix') format('embedded-opentype'),
        url('GothamNarrow-Thin.woff') format('woff'),
        url('GothamNarrow-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

